extends layout

block content

  #index
    .pure-g
      .pure-u-1-1
        div(align='center')
          h1= title

      .pure-u-1-1
        div
          p
            | Database:
            select
              each o in supportedDatabases
                option(value=o.value, selected=(o.value=='mysql')) #{o.text}

      .pure-u-1-8

      .pure-u-7-8
        if message
          h3= message
