extends layout

block content

  #index
    div(align='center')
      h1= title

    form.pure-form.pure-form-stacked(name="config", method="post", action="/config")
      fieldset
        legend Configuration Options

        .pure-g
          .pure-u-1.pure-u-md-1-2
            label(for="dbType") Database Type
            select#dbType(name="dbType")
              each o in supportedDatabases
                option(value=o.value, selected=(o.value==o.selectedDatabase)) #{o.text}

          .pure-u-1.pure-u-md-1-2
            label(for="path") Path
            .input-group
              input#path(type="text", name="path", placeholder="full path to file", required)
              button ...

          .pure-u-1.pure-u-1-2
            label(for="server") Server
            input#server(type="text", name="server", placeholder="server", required)

          .pure-u-1.pure-u-1-2

          .pure-u-1.pure-u-1-2
            label(for="username") Username
            input#username(type="text", name="username", placeholder="username")

          .pure-u-1.pure-u-1-2

          .pure-u-1.pure-u-1-2
            label(for="password") Password
            input#password(type="password", name="password", placeholder="password")

        button.pure-button.pure-button-primary(type="submit") Submit
